body {
  background-color: #9fb0df;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

/* Table Styling */
.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 16px;
  margin-top: 20px;
}

.table th, .table td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.table th {
  background-color: #f2f2f2;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Search Box Styling */
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ddd;
  outline: none;
  margin-right: 10px;
  font-size: 16px;
  width: 300px;
}

.search input[type="text"]::placeholder {
  color: #aaa;
}

.search select {
  padding: 10px;
  border: none;
  outline: none;
  margin-right: 10px;
  font-size: 16px;
  background-color: #f2f2f2;
}

.search .date-picker {
  margin-right: 10px;
}

.search button.search-button {
  padding: 10px;
  background-color: #4CAF50;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search button.search-button:hover {
  background-color: #3e8e41;
}

.search button.search-button:active {
  background-color: #1e401f;
}

.search button.search-button:focus {
  outline: none;
}

/* No results Styling */
.no-results {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #777;
}

.book-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}